In [5]:
import pandas as pd

In [6]:
vine_df = pd.read_csv("vine_table.csv")
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R2MTG1GCZLR2DK,5.0,0.0,0.0,N,Y
1,R2HBOEM8LE9928,5.0,0.0,0.0,N,Y
2,R1P4RW1R9FDPEE,5.0,1.0,1.0,N,Y
3,R1EBPM82ENI67M,1.0,0.0,0.0,N,Y
4,R372S58V6D11AT,5.0,1.0,1.0,N,Y

1. Filter the data and create a new DataFrame or table to retrieve all the rows where the total_votes count is equal to or greater than 20 to pick reviews that are more likely to be helpful and to avoid having division by zero errors later on.

In [15]:
greaterthan20_df = vine_df[vine_df["total_votes"] >= 20]
greaterthan20_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
41,R1FBO737KD9F2N,5.0,19.0,23.0,N,Y
145,R227GSNWI6BSZV,1.0,20.0,20.0,N,Y
304,R3SJTYZBYBG4EE,4.0,99.0,99.0,N,Y
419,R248FG65D76D5Y,1.0,42.0,53.0,N,Y
500,R3B6BXFKGW52SG,1.0,32.0,32.0,N,Y

2. Filter the new DataFrame or table created in Step 1 and create a new DataFrame or table to retrieve all the rows where the number of helpful_votes divided by total_votes is equal to or greater than 50%.

In [11]:
helpful50_df = greaterthan20_df[ (greaterthan20_df["helpful_votes"]/greaterthan20_df["total_votes"]) >= 0.5]
helpful50_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
41,R1FBO737KD9F2N,5.0,19.0,23.0,N,Y
145,R227GSNWI6BSZV,1.0,20.0,20.0,N,Y
304,R3SJTYZBYBG4EE,4.0,99.0,99.0,N,Y
419,R248FG65D76D5Y,1.0,42.0,53.0,N,Y
500,R3B6BXFKGW52SG,1.0,32.0,32.0,N,Y

3. Filter the DataFrame or table created in Step 2, and create a new DataFrame or table that retrieves all the rows where a review was written as part of the Vine program (paid), vine == 'Y'.

In [17]:
Yfiltered_df = helpful50_df[helpful50_df["vine"] == "Y"]
Yfiltered_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
1932,R184FOUNZZ7KO8,5.0,15.0,20.0,Y,N
4661,R82QWN2X2OCHB,5.0,176.0,208.0,Y,N
11745,R1UYHBYE6790BU,5.0,44.0,53.0,Y,N
17013,R2J3YLX1L4EH2B,5.0,299.0,321.0,Y,N
28097,R3QDI539WTXKE2,5.0,26.0,32.0,Y,N

4. Repeat Step 3, but this time retrieve all the rows where the review was not part of the Vine program (unpaid), vine == 'N'.

In [18]:
Nfiltered_df = helpful50_df[helpful50_df["vine"] == "N"]
Nfiltered_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
41,R1FBO737KD9F2N,5.0,19.0,23.0,N,Y
145,R227GSNWI6BSZV,1.0,20.0,20.0,N,Y
304,R3SJTYZBYBG4EE,4.0,99.0,99.0,N,Y
419,R248FG65D76D5Y,1.0,42.0,53.0,N,Y
500,R3B6BXFKGW52SG,1.0,32.0,32.0,N,Y

5. Determine the total number of reviews, the number of 5-star reviews, and the percentage of 5-star reviews for the two types of review (paid vs unpaid).

In [37]:
# Number of 5-star reviews for PAID reviews
paid5 = Yfiltered_df[Yfiltered_df["star_rating"] == 5].count()["star_rating"]
paid5

454

In [47]:
# Percentage of 5-star reviews for PAID reviews
percentpaid5 = paid5/len(Yfiltered_df)*100
percentpaid5

42.03703703703704

In [48]:
# Number of 5-star reviews for UNPAID reviews
unpaid5 = Nfiltered_df[Nfiltered_df["star_rating"] == 5].count()["star_rating"]
unpaid5

23043

In [50]:
# Percentage of 5-star reviews for UNPAID reviews
percentunpaid5 = unpaid5/len(Nfiltered_df)*100
percentunpaid5

46.3893865882874